html{
    font-family: 'roboto', sans-serif;
    color: #001B2E
}

body{
    background-color: #D7DAE5;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #A49E8D;
    border-radius: 100px;
    text-align: center;
  }
  
  .input-group {
    display: inline-block; 
    text-align: left; 
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 60px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p#countdown {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  #month,#date{
    color:E4FDE1;
    background-color: #D7DAE5;
  }